Repository aramis-lab/clinica, pull requests merged in 2019-08, with the labels that each got.

#10 Remove duplicates during oasis-to-bids conversion
  clinica/iotools/bids_utils.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
Labels: converter

#12 Check for cat12 atlases in concerned pipelines
  clinica/pipelines/pet_volume/pet_volume_cli.py
  clinica/pipelines/t1_volume_new_template/t1_volume_new_template_cli.py
  clinica/pipelines/t1_volume_parcellation/t1_volume_parcellation_cli.py
  clinica/utils/check_dependency.py
Labels: bug, pipeline

#6 nifd-to-bids
  clinica/cmdline.py
  clinica/iotools/converters/clinical_data_bids_correspondence/clinical_data_bids_correspondence_participant.tsv
  clinica/iotools/converters/clinical_data_bids_correspondence/clinical_data_bids_correspondence_scans.tsv
  clinica/iotools/converters/clinical_data_bids_correspondence/clinical_data_bids_correspondence_sessions.tsv
  clinica/iotools/converters/nifd_to_bids/__init__.py
  clinica/iotools/converters/nifd_to_bids/config_files/config_dcm2bids.json
  clinica/iotools/converters/nifd_to_bids/config_files/unique_conflicts.txt
  clinica/iotools/converters/nifd_to_bids/nifd_to_bids.py
  clinica/iotools/converters/nifd_to_bids/nifd_to_bids_cli.py
  clinica/iotools/converters/nifd_to_bids/nifd_utils.py
  clinica/iotools/converters/nifd_to_bids/preprocessing/__init__.py
  clinica/iotools/converters/nifd_to_bids/preprocessing/parse_ida.py
  clinica/iotools/converters/nifd_to_bids/preprocessing/update_clinical_info.py
  clinica/iotools/converters/nifd_to_bids/utils/__init__.py
  clinica/iotools/converters/nifd_to_bids/utils/conv_image_folders.py
  clinica/iotools/converters/nifd_to_bids/utils/descriptor.py
  clinica/iotools/converters/nifd_to_bids/utils/manage_conflicts.py
  clinica/iotools/converters/nifd_to_bids/utils/parse_clinical.py
  clinica/iotools/converters/nifd_to_bids/utils/patient.py
  test/nonregression/test_run_iotools.py
  test/nonregression/testing_tools.py
Labels: converter, enhancement

#8 DWI-Connectome pipeline
  clinica/cmdline.py
  clinica/engine/cmdparser.py
  clinica/iotools/utils/data_handling_cli.py
  clinica/lib/nipype/interfaces/mrtrix/preprocess.py
  clinica/pipelines/dwi_connectome/dwi_connectome_cli.py
  clinica/pipelines/dwi_connectome/dwi_connectome_pipeline.py
  clinica/pipelines/dwi_connectome/dwi_connectome_utils.py
  clinica/pipelines/dwi_connectome/info.json
  clinica/pipelines/dwi_dti/dwi_dti_cli.py
  clinica/pipelines/dwi_dti/dwi_dti_pipeline.py
  clinica/pipelines/dwi_preprocessing_using_phasediff_fieldmap/dwi_preprocessing_using_phasediff_fieldmap_cli.py
  clinica/pipelines/dwi_preprocessing_using_t1/dwi_preprocessing_using_t1_cli.py
  clinica/pipelines/engine.py
  clinica/pipelines/space_required_by_pipeline.csv
  clinica/utils/check_dependency.py
  clinica/utils/fsl.py
  clinica/utils/io.py
  clinica/utils/mri_registration.py
  clinica/utils/stream.py
  clinica/workflows/dwi_registration.py
  test/conftest.py
  test/instantiation/test_instantiate_all_pipelines.py
  test/nonregression/test_run_iotools.py
  test/nonregression/test_run_pipelines.py
  test/nonregression/testing_tools.py
  test/test_coding_style.py
Labels: bug, enhancement, pipeline
