Repository aramis-lab/clinica, pull requests merged in 2021-08, with the labels that each got.

#358 Move developer instructions in separate subsection
  docs/Installation.md
Labels: doc

#359 fix indices create-merge-tsv
  clinica/iotools/utils/data_handling.py
  clinica/iotools/utils/pipeline_handling.py
Labels: bug

#366 Drop check for MRTRIX_HOME envvar
  clinica/utils/check_dependency.py
  docs/Third-party.md
Labels: bug, doc

#369 Add missing trailing slash to ANTSPATH
  docs/Third-party.md
Labels: doc

#378 Drop minimum version for xgboost
  requirements.txt
Labels: CI
