Repository aramis-lab/clinica, pull requests merged in 2024-10, with the labels that each got.

#1307 [DOC] Add warning message about ADNI new download interface
  docs/Converters/ADNI2BIDS.md
Labels: doc

#1285 [ENH] Allow the T1-Linear pipeline to go over (subject, session) couples that do not have data
  clinica/pipelines/anatomical/freesurfer/atlas/pipeline.py
  clinica/pipelines/anatomical/freesurfer/longitudinal/correction/pipeline.py
  clinica/pipelines/anatomical/freesurfer/longitudinal/template/pipeline.py
  clinica/pipelines/anatomical/freesurfer/t1/pipeline.py
  clinica/pipelines/dwi/preprocessing/fmap/pipeline.py
  clinica/pipelines/dwi/preprocessing/t1/pipeline.py
  clinica/pipelines/machine_learning_spatial_svm/spatial_svm_pipeline.py
  clinica/pipelines/pet/linear/pipeline.py
  clinica/pipelines/pet/volume/pipeline.py
  clinica/pipelines/pet_surface/pet_surface_pipeline.py
  clinica/pipelines/statistics_surface/pipeline.py
  clinica/pipelines/statistics_volume/statistics_volume_pipeline.py
  clinica/pipelines/t1_linear/anat_linear_pipeline.py
  clinica/pipelines/t1_volume_create_dartel/t1_volume_create_dartel_pipeline.py
  clinica/pipelines/t1_volume_dartel2mni/t1_volume_dartel2mni_pipeline.py
  clinica/pipelines/t1_volume_parcellation/t1_volume_parcellation_pipeline.py
  clinica/pipelines/t1_volume_register_dartel/t1_volume_register_dartel_pipeline.py
  clinica/pipelines/t1_volume_tissue_segmentation/t1_volume_tissue_segmentation_pipeline.py
  clinica/utils/inputs.py
  test/unittests/utils/test_utils_inputs.py
Labels: enhancement, pipeline

#1310 [CONV] IXI-to-BIDS modifications to fit BIDS specifications 1.10
  clinica/iotools/converters/ixi_to_bids/dwi_b_files/bvals.txt
  clinica/iotools/converters/ixi_to_bids/dwi_b_files/bvecs.txt
  clinica/iotools/converters/ixi_to_bids/ixi_to_bids.py
  clinica/iotools/converters/ixi_to_bids/ixi_to_bids_utils.py
  test/unittests/iotools/converters/ixi_to_bids/test_ixi_to_bids_utils.py
Labels: converter

#1312 [FIX] Fixing OASIS1 BIDSSubjectID Method
  clinica/iotools/bids_utils.py
  test/unittests/iotools/test_bids_utils.py
Labels: converter

#1316 [DOC] Update contributing guidelines
  CONTRIBUTING.md
Labels: doc

#1318 [FIX] IXI-to-BIDS function `define_participants` should output sorted participants list
  clinica/iotools/converters/ixi_to_bids/ixi_to_bids_utils.py
Labels: converter, fix

#1313 [TEST][REF] Move functions specific to OASIS1 converter in a dedicated utils file and add unit tests
  clinica/iotools/bids_utils.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids_utils.py
  test/unittests/iotools/converters/oasis_to_bids/test_oasis_to_bids_utils.py
Labels: converter

#1321 [FIX] OASIS-to-BIDS is not up to date with online data
  clinica/iotools/bids_utils.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids_utils.py
  clinica/iotools/converters/specifications/participant.tsv
  clinica/iotools/converters/specifications/sessions.tsv
  test/unittests/iotools/test_bids_utils.py
Labels: bug, converter

#1325 [REF] OASIS-to-BIDS : improve code quality for function `create_sessions_dict`
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids_utils.py
  test/unittests/iotools/converters/oasis_to_bids/test_oasis_to_bids_utils.py
Labels: converter

#1330 [REF] OASIS-to-BIDS create_scans_dict
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids_utils.py
  test/unittests/iotools/converters/oasis_to_bids/test_oasis_to_bids_utils.py
Labels: converter

#1335 [FIX][TEST] Fix usage of method `BIDSubjectID.to_study_id()` in unit tests
  clinica/iotools/bids_utils.py
  test/unittests/iotools/test_bids_utils.py
Labels: iotools, fix

#1340 [FIX] Fix logging in OASIS and AIBL converters
  clinica/iotools/converters/aibl_to_bids/utils/bids.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
Labels: converter, fix

#1348 [FIX] Correct the `pet-linear` pipeline
  clinica/pipelines/pet/linear/pipeline.py
Labels: fix

#1342 [FIX] ADNI-to-BIDS : incorporate the fix for KeyError "APGEN"
  clinica/iotools/bids_utils.py
  test/unittests/iotools/test_bids_utils.py
Labels: converter, fix

#1347 [TEST] AIBL-to-BIDS : add unit tests to functions related to creating sessions.tsv files
  clinica/iotools/converters/aibl_to_bids/utils/clinical.py
  test/unittests/iotools/converters/aibl_to_bids/test_aibl_utils.py
Labels: converter
