Repository aramis-lab/clinica, pull requests merged in 2024-02, with the labels that each got.

#1064 [CI] Split `t1-linear` and `t1-volume` non regression tests
  .github/workflows/test_pipelines_anat.yml
Labels: CI

#1061 [FIX] Fix bug with DWI ADC images which aren't removed by the ADNI to BIDS converter
  clinica/iotools/converters/adni_to_bids/adni_utils.py
Labels: converter, fix

#1050 Improve BIDS compliance for preprocessed DWI files
  clinica/pipelines/dwi_connectome/dwi_connectome_pipeline.py
  clinica/pipelines/dwi_preprocessing_using_fmap/dwi_preprocessing_using_phasediff_fmap_utils.py
  clinica/pipelines/dwi_preprocessing_using_t1/dwi_preprocessing_using_t1_utils.py
  clinica/utils/dwi.py
  clinica/utils/input_files.py
  test/nonregression/pipelines/test_run_pipelines_dwi.py
  test/unittests/utils/test_dwi.py
Labels: pipeline

#1006 Use pathlib in pipelines
  clinica/pipelines/dwi_connectome/dwi_connectome_pipeline.py
  clinica/pipelines/dwi_dti/dwi_dti_pipeline.py
  clinica/pipelines/dwi_preprocessing_using_fmap/dwi_preprocessing_using_phasediff_fmap_pipeline.py
  clinica/pipelines/dwi_preprocessing_using_t1/dwi_preprocessing_using_t1_pipeline.py
  clinica/pipelines/engine.py
  clinica/pipelines/machine_learning_spatial_svm/spatial_svm_pipeline.py
  clinica/pipelines/pet_linear/pet_linear_pipeline.py
  clinica/pipelines/pet_surface/pet_surface_pipeline.py
  clinica/pipelines/pet_volume/pet_volume_pipeline.py
  clinica/pipelines/statistics_surface/pipeline.py
  clinica/pipelines/statistics_volume/statistics_volume_pipeline.py
  clinica/pipelines/statistics_volume_correction/statistics_volume_correction_pipeline.py
  clinica/pipelines/t1_freesurfer/t1_freesurfer_pipeline.py
  clinica/pipelines/t1_freesurfer_atlas/t1_freeesurfer_atlas_pipeline.py
  clinica/pipelines/t1_freesurfer_longitudinal/longitudinal_utils.py
  clinica/pipelines/t1_freesurfer_longitudinal/t1_freesurfer_longitudinal_correction_pipeline.py
  clinica/pipelines/t1_freesurfer_longitudinal/t1_freesurfer_template_pipeline.py
  clinica/pipelines/t1_linear/anat_linear_pipeline.py
  clinica/pipelines/t1_volume_create_dartel/t1_volume_create_dartel_pipeline.py
  clinica/pipelines/t1_volume_dartel2mni/t1_volume_dartel2mni_pipeline.py
  clinica/pipelines/t1_volume_parcellation/t1_volume_parcellation_pipeline.py
  clinica/pipelines/t1_volume_register_dartel/t1_volume_register_dartel_pipeline.py
  clinica/pipelines/t1_volume_tissue_segmentation/t1_volume_tissue_segmentation_pipeline.py
  pyproject.toml
  test/unittests/pipelines/test_nipype_engine.py
Labels: enhancement

#1067 [CI] Run DWI non regression tests on GitHub actions
  .github/workflows/test_pipelines_dwi.yml
  .github/workflows/test_pipelines_dwi_preprocessing.yml
Labels: CI

#1070 [FIX] Update regexp dwi connectome utility function
  clinica/pipelines/dwi_connectome/dwi_connectome_utils.py
  test/unittests/pipelines/dwi_connectome/test_dwi_connectome_utils.py
Labels: pipeline, fix

#1071 [ENH] Set the random seed in DWI pipeline using ANTs
  clinica/pipelines/dwi_dti/dwi_dti_cli.py
  clinica/pipelines/dwi_dti/dwi_dti_pipeline.py
  test/nonregression/pipelines/dwi/preprocessing/test_t1.py
  test/nonregression/pipelines/dwi/test_pipelines.py
Labels: enhancement, pipeline

#1073 [FIX] Fix broken Nipype interfaces
  clinica/pipelines/dwi_preprocessing_using_fmap/utils.py
Labels: pipeline, fix

#1076 [FIX] Fix bad names in DWI preprocessing using phasediff pipeline
  clinica/pipelines/dwi_preprocessing_using_fmap/pipeline.py
  clinica/pipelines/dwi_preprocessing_using_fmap/utils.py
  clinica/pipelines/dwi_preprocessing_using_fmap/workflows.py
  test/unittests/pipelines/dwi_preprocessing_using_fmap/test_dwi_preprocessing_using_fmap_utils.py
Labels: pipeline, fix

#1077 [FIX] Fix forgotten argument in non regression tests
  test/nonregression/pipelines/dwi/preprocessing/test_phase_diff.py
Labels: pipeline, fix

#1078 [FIX] Use `compute_average_b0_task` in workflows
  clinica/pipelines/dwi_preprocessing_using_fmap/pipeline.py
  clinica/pipelines/dwi_preprocessing_using_fmap/workflows.py
Labels: pipeline, fix

#1074 [ENH] Improvements to DWI preprocessing pipelines
  clinica/pipelines/dwi_preprocessing_using_fmap/pipeline.py
  clinica/pipelines/dwi_preprocessing_using_fmap/utils.py
  clinica/pipelines/dwi_preprocessing_using_fmap/workflows.py
  clinica/pipelines/dwi_preprocessing_using_t1/pipeline.py
  clinica/pipelines/dwi_preprocessing_using_t1/utils.py
  clinica/pipelines/dwi_preprocessing_using_t1/workflows.py
  clinica/utils/dwi.py
  test/unittests/pipelines/dwi_preprocessing_using_t1/test_dwi_preprocessing_using_t1_utils.py
  test/unittests/utils/test_dwi.py
Labels: enhancement, pipeline

#1065 [MAINT] Add compatibility with Python 3.12
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Labels: dependencies

#1089 [FIX] Some fixes to T1Freesurfer longitudinal pipelines
  clinica/pipelines/t1_freesurfer_longitudinal/t1_freesurfer_longitudinal_correction_pipeline.py
  clinica/pipelines/t1_freesurfer_longitudinal/t1_freesurfer_template_pipeline.py
Labels: pipeline, fix
