Repository aramis-lab/clinica, pull requests merged in 2024-09, with the labels that each got.

#1278 [FIX] Handle string and integer logging levels in `cprint`
  clinica/utils/stream.py
Labels: fix

#1276 [DOC] Add documentation page for converter IXI-to-BIDS
  docs/Converters/IXItoBIDS.md
  docs/snippets/abbreviations.md
  docs/snippets/converters_options.md
  mkdocs.yml
Labels: converter, doc

#1284 [DOC] Refactor UKB-To-BIDS documentation page
  docs/Converters/IXItoBIDS.md
  docs/Converters/UKBtoBIDS.md
  docs/snippets/abbreviations.md
  mkdocs.yml
Labels: doc

#1287 [ENH] Add `clinica iotools describe`
  clinica/iotools/bids_dataset_description.py
  clinica/iotools/utils/cli.py
  clinica/iotools/utils/describe.py
  docs/IO.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  test/unittests/iotools/utils/test_describe.py
Labels: enhancement

#1293 [CI] Clean CI workflows
  .github/workflows/test_converters.yml
  .github/workflows/test_instantiation.yml
  .github/workflows/test_non_regression_fast.yml
  .github/workflows/test_pipelines_anat.yml
  .github/workflows/test_pipelines_anat_freesurfer.yml
  .github/workflows/test_pipelines_dwi.yml
  .github/workflows/test_pipelines_dwi_preprocessing.yml
  .github/workflows/test_pipelines_pet.yml
  environment.yml
Labels: CI

#1297 [DOC] Adding Support page
  CONTRIBUTING.md
  docs/Converters/ADNI2BIDS.md
  docs/Home/index.md
  docs/Software/Installation.md
  docs/Software/InteractingWithClinica.md
  docs/Software/Third-party.md
  docs/Software/contributing.md
  docs/snippets/abbreviations.md
  docs/snippets/inventory_converters.md
  docs/snippets/inventory_pipelines.md
  docs/snippets/support.md
  mkdocs.yml
Labels: doc

#1301 [CI] Use rsync instead of scp for deploying doc
  .github/workflows/build_and_deploy.yml
  docs/index.md
Labels: CI

#1302 [DOC] Fix broken links
  docs/Home/index.md
  docs/index.md
  docs/snippets/inventory_converters.md
  docs/snippets/inventory_pipelines.md
  docs/snippets/pipelines_options.md
  mkdocs.yml
Labels: doc

#1300 [DOC] Add documentation for reconstruction method option
  clinica/utils/pet.py
  docs/Pipelines/PET_Introduction.md
  docs/Pipelines/PET_Linear.md
  docs/Pipelines/PET_Surface.md
  docs/Pipelines/PET_Volume.md
Labels: doc
