Repository aramis-lab/clinica, pull requests merged in 2024-06, with the labels that each got.

#1196 [ENH] ADNI-to-BIDS converts only subjects in the provided ADNI directory if no subjects list is given
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_av45_fbb_pet.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_dwi.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_fdg_pet.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_flair.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_fmap.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_fmri.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_pib_pet.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_t1.py
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_tau_pet.py
  clinica/iotools/converters/adni_to_bids/adni_to_bids.py
  clinica/iotools/converters/adni_to_bids/adni_utils.py
  test/unittests/iotools/converters/adni_to_bids/test_adni_utils.py
Labels: enhancement, converter

#1198 [FIX] ADNI-to-BIDS fmap conversion : delete real/imaginary files properly, enable converting to the same folder for fmap
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_fmap.py
  clinica/iotools/converters/adni_to_bids/adni_utils.py
  test/unittests/iotools/converters/adni_to_bids/adni_modalities/test_adni_fmap.py
  test/unittests/iotools/converters/adni_to_bids/test_adni_utils.py
Labels: converter, fix

#1201 [CI] Fix deploy step in documentation pipeline
  .github/workflows/build_and_deploy.yml
Labels: CI

#1199 [DOC] ADNI-to-BIDS : add Field Mapping (FMAP) specificities
  docs/Converters/ADNI2BIDS.md
Labels: converter, doc

#1204 [MAINT] Remove function BidsGuess
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_fmap.py
Labels: converter

#1206 [MAINT] Missing unit tests for bids_utils
  clinica/iotools/bids_utils.py
  test/unittests/iotools/test_bids_utils.py
Labels: converter
