Repository aramis-lab/clinica, pull requests merged in 2024-04, with the labels that each got.

#1110 [DOC] Add glossary page to the documentation
  docs/Atlases.md
  docs/BIDS.md
  docs/Installation.md
  docs/Pipelines/PET_Introduction.md
  docs/Pipelines/PET_Linear.md
  docs/Pipelines/Stats_Surface.md
  docs/PreparingYourData.md
  docs/WhatIsClinica.md
  docs/glossary.md
  mkdocs.yml
Labels: doc

#1115 [DOC] Remove unused documentation page `BeforeYouInstall`
  docs/BeforeYouInstall.md
  mkdocs.yml
Labels: doc

#1116 [REF] Move DWI specific functions from `filemanip.py` utils to dwi preprocessing utils
  clinica/pipelines/dwi/preprocessing/t1/workflows.py
  clinica/pipelines/dwi/preprocessing/utils.py
  clinica/utils/filemanip.py
  test/nonregression/pipelines/dwi/preprocessing/test_phase_diff.py
  test/unittests/pipelines/dwi/preprocessing/test_common_preprocessing_utils.py
  test/unittests/utils/test_filemanip.py
Labels: pipeline

#1121 [DOC] Remove unused documentation page `ICMClusterInstallation`
  docs/ICMClusterInstallation.md
  mkdocs.yml
Labels: doc

#1123 [DOC] Add FWHM definition to glossary
  docs/CAPS/Specifications.md
  docs/glossary.md
Labels: doc

#1124 [DOC] Add SUVR definition in glossary
  docs/Pipelines/MachineLearning_PrepareSVM.md
  docs/glossary.md
Labels: doc

#1126 [DOC] Add PVC definition to glossary
  docs/Pipelines/PET_Introduction.md
  docs/glossary.md
Labels: doc

#1131 [MAINT] Change to use str.removesuffix
  clinica/pipelines/t1_linear/anat_linear_utils.py
Labels: python

#1133 [MAINT] Change to regex for subject conversation to RID + tests
  clinica/iotools/converters/adni_to_bids/adni_modalities/adni_fdg_pet.py
  test/unittests/iotools/converters/adni_to_bids/adni_modalities/test_adni_fdg_pet.py
Labels: python

#1134 [REF] Encode names of dataset as an enum
  clinica/iotools/bids_readme.py
  clinica/iotools/bids_utils.py
  clinica/iotools/converters/adni_to_bids/adni_to_bids.py
  clinica/iotools/converters/aibl_to_bids/aibl_to_bids.py
  clinica/iotools/converters/aibl_to_bids/utils/clinical.py
  clinica/iotools/converters/genfi_to_bids/genfi_to_bids.py
  clinica/iotools/converters/habs_to_bids/habs_to_bids.py
  clinica/iotools/converters/nifd_to_bids/nifd_to_bids.py
  clinica/iotools/converters/oasis3_to_bids/oasis3_to_bids.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
  clinica/iotools/converters/ukb_to_bids/ukb_to_bids.py
  test/unittests/iotools/test_bids_utils.py
Labels: converter

#1135 [MAINT] Move read_participant_tsv function and make it private
  clinica/utils/filemanip.py
  clinica/utils/participant.py
  test/unittests/utils/test_filemanip.py
  test/unittests/utils/test_participant.py
Labels: python

#1139 [MAINT] Delete clinica.utils.mri_registration module
  clinica/pipelines/dwi/connectome/pipeline.py
  clinica/pipelines/dwi/connectome/tasks.py
  clinica/pipelines/dwi/connectome/utils.py
  clinica/utils/mri_registration.py
  test/unittests/pipelines/dwi/test_connectome_utils.py
Labels: python

#1149 [CI] Run CI on maintenance branches
  .github/workflows/lint.yaml
  .github/workflows/test.yml
  .github/workflows/test_converters.yml
  .github/workflows/test_instantiation.yml
Labels: CI

#1155 [MAINT] Update OASIS website URL
  LICENSE.txt
  clinica/iotools/converters/oasis3_to_bids/oasis3_to_bids.py
  clinica/iotools/converters/oasis3_to_bids/oasis3_to_bids_cli.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids.py
  clinica/iotools/converters/oasis_to_bids/oasis_to_bids_cli.py
  docs/Converters/OASIS2BIDS.md
  docs/Converters/OASIS3TOBIDS.md
Labels: converter

#1156 [ENH] Move crop_nifti function
  clinica/pipelines/pet_linear/pet_linear_pipeline.py
  clinica/pipelines/pet_linear/pet_linear_utils.py
  clinica/pipelines/t1_linear/anat_linear_pipeline.py
  clinica/pipelines/t1_linear/anat_linear_utils.py
  clinica/pipelines/tasks.py
  clinica/pydra/pet_linear/tasks.py
  clinica/utils/image.py
Labels: enhancement

#1160 [ENH] Add crop_nifti to public API
  clinica/utils/image.py
Labels: enhancement

#1161 [CI] Fix MacOS GitHub runner target
  .github/workflows/test.yml
Labels: CI

#1162 [ENH] Unify DatasetType class
  clinica/iotools/bids_dataset_description.py
  clinica/utils/inputs.py
  test/unittests/utils/test_utils_inputs.py
Labels: enhancement
