Repository aramis-lab/clinica, pull requests merged in 2025-05, with the labels that each got.

#1513 [FIX] GENFI-to-BIDS : validates `path_to_clinical` only if exists
  clinica/converters/genfi_to_bids/_converter.py
Labels: converter, fix

#1514 [FIX][TEST] Fix bids module import in DWI test scripts
  test/nonregression/pipelines/dwi/test_pipelines.py
Labels: fix

#1518 [REF] Factorizing ```install_nifti```
  clinica/converters/_utils.py
  clinica/converters/habs_to_bids/_converter.py
  clinica/converters/nifd_to_bids/_utils.py
  test/unittests/converters/test_converter_utils.py
Labels: converter
