Repository aramis-lab/clinica, pull requests merged in 2025-02, with the labels that each got.

#1409 PET-linear: apply transform fix
  clinica/pipelines/pet/linear/pipeline.py
Labels: pipeline

#1424 [TEST] Add non-regression tests for AIBL that compares the inside of all metadata tsv files
  test/nonregression/iotools/test_run_converters.py
  test/nonregression/testing_tools.py
  test/unittests/test_testing_tools.py
Labels: CI

#1429 [DOC] Improve `t1-linear` documentation
  docs/Pipelines/T1_Linear.md
  docs/Software/InteractingWithClinica.md
  docs/snippets/converters_options.md
  docs/snippets/pipelines_options.md
Labels: doc

#1441 [TEST] Change function tested in non-regression for center-nifti
  clinica/iotools/utils/center_nifti.py
  test/nonregression/iotools/test_run_utils.py
  test/nonregression/testing_tools.py
  test/unittests/iotools/utils/test_center_nifti.py
  test/unittests/test_testing_tools.py
Labels: enhancement, CI

#1442 [DOC] FLAIR documentation update
  docs/Pipelines/FLAIR_Linear.md
Labels: pipeline, doc
